version: "3.3"
services:

    postgres:
        image: postgres:12.2
        restart: always
        environment:
            POSTGRES_USER: ${POSTGRE_USER}
            POSTGRES_PASSWORD: ${POSTGRE_PASSWORD}
            POSTGRES_DB: ${DATABASE_NAME}
        volumes:
            - postgres:/var/lib/postgresql/data

volumes:
    postgres:
