version: "3.3"
services:

    postgres:
        image: postgres:12.2
        restart: always
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: ${POSTGRE_USER}
            POSTGRES_PASSWORD: ${POSTGRE_PASSWORD}
            POSTGRES_DB: ${DATABASE_NAME}
        volumes:
            - postgres:/var/lib/postgresql/data


    postgres-adminer:
        image: adminer
        restart: always
        ports:
            - 8081:8080

volumes:
    postgres:
