version: 2.0

#
# WORKFLOWS
#
workflows:
  version: 2

  main:
    jobs:
      - test


#
# JOBS
#
jobs:

  # run unit tests
  test:
    docker:
      - image: circleci/python:3.8.0
    working_directory: ~/stonks
    steps:
      - checkout
      - run:
          name: Install Pipenv
          command: |
            pip install pipenv
      - run:
          name: Install dependencies
          command: |
            pipenv install --dev
      - run:
          name: Run unit tests
          command: |
            pipenv run python -m unittest tests/*.py
